version: 2

updates:
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    groups:
      actions-deps:
        patterns:
          - "*"

  - package-ecosystem: cargo
    directory: '/'
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    groups:
      rust-deps:
        patterns:
          - "*"
